@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400..700&display=swap');

:root{
    --cor-de-fundo: #F3F5FC;
    --cor-de-fundo-descriptografar: white;
    --cor-botão-criptografar-e-titulos: #0A3871;
    --cor-botão-descriptografar: #D8DFE8;
}

*{
    box-sizing: border-box;
}


body{
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    min-height: 100vh;
}

.alura-logo{
    position: absolute;
    left: 8%;
    top: 4%;
}

.main-content{
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    width: 100%;
    padding-left: 20%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    gap: 30px;
}

.main-content__codificador{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 80%;
    padding-top: 10%;
    padding-bottom: 3%;

}

.main-content__codificador__texto{
    color: var(--cor-botão-criptografar-e-titulos);
    outline: none;
    font-weight: 400;
    font-size: 1.5rem;
    border: none;
    background-color: var(--cor-de-fundo);
    resize: none;
    width: 611px;
    height: 438px;
}

.main-content__codificador__paragrafo{
    display: flex;
    justify-content: flex-start;
    
}

.main-content__codificador__paragrafo__alerta{
    align-self: flex-start;
    color: #495057;
    font-size: 12px;

}

.main-content__codificador__botao{
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 24px;
}

button{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.125rem;
    padding: 2.5% 15%;
}

.main-content__codificador__botao__um{
    color: white;
    background-color: var(--cor-botão-criptografar-e-titulos);
    
}

.main-content__codificador__botao__dois{
    color: var(--cor-botão-criptografar-e-titulos);
    background-color: var(--cor-de-fundo-descriptografar);
    border-color: var(--cor-botão-criptografar-e-titulos);
    
}

.main-content__codificador__botao__dois:disabled{
    background-color: rgb(211, 211, 211);
}




.main-content__descodificador{
    background-color: white;
    box-shadow: 0px 20px 20px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 680px;
    box-sizing: border-box;

    
}

.main-content__descodificador__imagem{
    width: 70%;
}

.main-content__descodificador__subtitulo{
    color: #343A40;    
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
    width: 85%;
    display: flex;
    flex-wrap: wrap-reverse;
    

}

.main-content__descodificador__paragrafo{
    color: #495057;
    font-weight: 400; 
    font-size: 0.875rem;
    text-align: center;
    
}

.main-content__descodificador__painel{
    font-size: 20px;
    font-family: "Inter", sans-serif;
    color: #343A40;
    font-weight: 400;
    outline: none;
    width: 90%;
    height: 90%;
    border: none;
    resize: none;
    margin-top: 10%;
    margin-bottom: 5%;
    
}

.main-content__descodificador__botao{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    padding: 5% 40%;
    margin-bottom: 10%;
    color: var(--cor-botão-criptografar-e-titulos);
    background-color: var(--cor-de-fundo-descriptografar);
    border-color: var(--cor-botão-criptografar-e-titulos);
    border-radius: 1.125rem;
    
}







@media screen and (max-width: 1270px) and (min-width: 621px) {

    .alura-logo{
        position: absolute;
        left: 0%;
        top: 2%;
    }   

    .main-content{
        flex-direction: column;
        align-items: center;
        padding: 0%;
        padding-top: 10%;
        gap: 20px;
    }

    .main-content__codificador__texto{
        font-size: 32px;
        width: 100%;
        height: 438px;
    }

    button{
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 0.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1.125rem;

    }

    .main-content__codificador__botao{
        justify-content: space-around;
        
    }

    .main-content__descodificador{
        width: 80%;
        height: 10%;
        margin-bottom: 5%;
    }
    .main-content__descodificador__imagem{
        visibility: hidden;
        width: 0%;
        height: 0%;
    }

    .main-content__descodificador__subtitulo{
        width: auto;
        text-align: center;
    }

    .main-content__descodificador__painel{
       font-size: 1.5rem;
       

    }

    .main-content__descodificador__botao{
        padding: 4% 25% 4% 25%;

    }
}







@media screen and (max-width: 620px) {

    .alura-logo{
        position: absolute;
        left: -5%;
        top: 2%;
    }    

    .main-content{
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 0%;
        padding-top: 10%;
        gap: 20px;
        margin-bottom: 5%;
    }

    .main-content__codificador{
        align-self: flex-start;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 15%;
        width: 97%;

    }

    .main-content__codificador__texto{
        width: 330px;
        height: 280px;
        font-size: 2rem;
        

    }

    button{
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 0.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 28px;
        padding: 7%;

    }

    .main-content__codificador__botao{
        justify-content: space-around;
        flex-direction: column;
        
    }

    .main-content__descodificador{
        width: auto;
        height: 10%;
        padding: 10px;
        margin-bottom: 5%;
    }
    .main-content__descodificador__imagem{
        visibility: hidden;
        width: 0%;
        height: 0%;
    }

    .main-content__descodificador__subtitulo{
        width: auto;
        text-align: center;
        margin-bottom: 5%;
    }

    .main-content__descodificador__paragrafo{
        width: 80%;
        text-align: center;
    }

    .main-content__descodificador__painel{
        height: 100px;

    }
}
    